# Common Information
PORT=

# Database Information
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Redis Information
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# SMTP Information
GOOGLE_APP_PASSWORD=